tbody tr:hover {
  background-color: 	#4fff5b;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.9s;
}
tbody tr {
  transition: 0.9s;
}
table td {
  font-size: 1.0rem;
}
@media only screen and (max-width: 767px) {
  table td {
    font-size: 0.7rem;
  }
}
